.chatbox {
    border: 1px solid yellow;
    padding: 10px;
    height: 300px;
    overflow: scroll;
    margin-bottom: 20px;
    border-radius: 10px;
}

.online {
    color: green;
}

.offline {
    color: red;
}

.input {
    font-size: 1rem;
    font-weight: 400;
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #ccc;
    outline: none;
    border: none;
}

.submitbutton {
    background-color: yellow;
    margin-left: 10px;
    font-weight: bolder;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    cursor: pointer;
}

.message {
    text-transform: uppercase;
}