.denybox {
    display: flex;
    flex-direction: column;
    background-color: #272729;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.denybox .text {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.deny {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deny a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD900;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    color: #202021;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-box-shadow: 2px 3px 0px 0px rgba(179, 152, 0);
    border: 0;
    font-family: 'semibold';
    font-size: 15px;
    margin: 0 10px 0 10px;
}

.deny a:hover {
    background-color: rgba(179, 152, 0);
}