.navBar {
  list-style: none;
  text-decoration: none;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
  
li a {
  padding: 10px 40px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav img {
  height: 100px;
  width: 100px;
  margin-right: 50px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 100px;
}

.input {
  margin-left: 220px;
}