.navBar {
  list-style: none;
  text-decoration: none;
  padding: 20px;
  background-color: #272729;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  grid-template-rows: 1fr; 
}
  
li a {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav img {
  height: 100px;
  width: 100px;
  margin-right: 50px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'semibold';
  color: #FFD900;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

li a:hover {
  border-bottom: 3px solid #FFD900;
}

li a {
  border-bottom: 3px solid #272729;
}

.navbox {
  display: flex;
  flex-direction: column;
}

.navelement {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbox {
  margin-top: 20px;
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  grid-column-start: 3;
}

.auth > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.navicon {
  height: 40px;
  width: 40px;
  margin-right: 0;
  margin-left: 10px;
}