.navBar {
  list-style: none;
  text-decoration: none;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
  background-color: #272729;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.4);
}
  
li a {
  padding: 10px 40px;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav img {
  height: 100px;
  width: 100px;
  margin-right: 50px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'semibold';
  color: #FFD900;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 100px;
}

li a:hover {
  border-bottom: 3px solid #FFD900;
}

.input {
  margin-left: 220px;
}