th {
    text-align: left;
    padding: 10px;
}

.player {
    width: 50%;
}

.position {
    width: 20%;
    text-align: center;
}

.rating {
    width: 20%;
    text-align: center;
}

.playercontent {
    padding-left: 10px;
}

.positioncontent {
    text-align: center;
}

.ratingcontent {
    text-align: center;
}

thead > tr {
    background-color: #FFD900;
    color: black;
}

.position-box {
    margin-bottom: 15px;
}

.position-title {
    font-weight: bolder;
    padding-left: 2px;
    font-size: 25px;
}