.post {
    font-size: 1.2rem;
    color: #ccc;
    padding: 10px;
    border: 1px solid yellow;
    border-radius: 10px;
    display: flex;
}

.post-box {
  width: 100%;
}

.vote {

}

.upvote .downvote {
    color: black;
    background-color: yellow;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bolder;
    margin-right: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    width: 15%;
}