.title {
    margin-top: 10px;
    font-family: 'semibold';
    font-size: 25px;
    text-transform: uppercase;
}
  
button {
    text-transform: uppercase;
}

.inputtext {
    height: 45px;
    outline: none;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family: 'semibold';
    border: 0;
    width: 100%;
    border-radius: 10px;
    background-color: #CECECE;
    color: #202021;
    text-align: left;
    box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.4);
}

.submit {
    background-color: #FFD900;
    width: 150px;
    font-family: 'semibold';
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bolder;
    -webkit-box-shadow: 2px 3px 0px 0px rgba(179, 152, 0);
    border: 0;
    font-size: 20px;
}

.submit:hover {
    background-color: rgba(179, 152, 0);
}