.post {
    padding: 25px 25px 25px 15px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
    background-color: #3E3E40;
    box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.4);
}

.postbox {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.author {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.title {
  text-transform: uppercase;
  font-size: 30px;
  color: #CECECE;
  font-family: 'bold';
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: fit-content;
  background-color: #202021;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 3px 0px 0px rgba(0,0,0,0.4);
  cursor: pointer;
}

.footer:hover {
  background-color: rgba(0,0,0,0.4);;
}

.upvote .downvote {
    color: black;
    background-color: yellow;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bolder;
    margin-right: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    width: 15%;
}

.logo {
  filter: invert(0.5);
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.popupbox {
  padding: 15px;
  background-color: #404040;
  border-radius: 10px;
  border: 2px solid white;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border-radius: 50px;
  padding: 10px;
  display: flex;
  font-family: 'semibold';
  background-color: #202021;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 1px 2px 0px 0px rgba(0,0,0,0.4);
  font-size: 15px;
  margin-bottom: 10px;
}

.button > .logo {
  margin-right: 0;
  filter: invert(0.7);
}

.button:hover {
  background-color: rgba(0,0,0,0.4);
}

.submit {
  background-color: #C3362B;
  font-family: 'semibold';
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #CECECE;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: 2px 3px 0px 0px rgba(195, 54, 43, 0.4);
  border: 0;
  font-size: 20px;
  margin-right: 10px;
}

.submit:hover {
  background-color: rgba(195, 54, 43, 0.4);
}

.cancel {
  background-color: #CECECE;
  font-family: 'semibold';
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: #202021;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bolder;
  -webkit-box-shadow: 2px 3px 0px 0px rgba(255, 255, 255, 0.5);
  border: 0;
  font-size: 20px;
  margin-right: 10px;
}

.cancel:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.voteneutral {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.voteneutral > img {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.votebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count {
  font-family: 'semibold';
  font-size: 20px;
}