.ratingpost {
    padding: 25px;
    background-color: #3E3E40;
    border-radius: 10px;
    box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

.pin {
    height: 20px;
    float: right;
}

.author {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
}

.title {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.opponent {
    font-size: 40px;
    color: #FFD900;
    font-family: 'bold';
}

.vs {
    font-size: 20px;
}

.bundesliga {
    background-color: #D20214;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
    margin-top: 5px;
}

.champions {
    height: 50px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
}

.europa {
    background-color: #FE6802;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
    margin-top: 5px;
}

.conference {
    background-color: #00BB11;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
    margin-top: 5px;
}

.pokal {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
    margin-top: 5px;
}

.friendly {
    background-color: purple;
    color: white;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 5px;
    margin-top: 5px;
}

.vote {
    display: flex;
    justify-content: center;
}

.votebutton {
    background-color: #FFD900;
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-top: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bolder;
    -webkit-box-shadow: 2px 3px 0px 0px rgba(179, 152, 0);
}

.votebutton:hover {
    background-color: rgba(179, 152, 0);
}



