.input {
  height: 35px;
  outline: none;
  padding: 4px 5px;
  font-size: 20px;
  border: 0;
  border-radius: 3px;
  background-color: #CECECE;
  color: #202021;
  text-align: left;
  font-family: 'Barlow';
  width: 100%;
}

.searchbox {
  display: flex;
  align-items: center;
  background-color: #CECECE;
  width: 100%;
  border-radius: 5px;
}

.logo {
  filter: invert(0.5);
  height: 20px;
  width: 20px;
  margin-right: 10px;
  padding: 10px;
  border-right: 1px solid black;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: #C3362B;
  margin-left: 10px;
}