.rating-box {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
}

.rating-box > .vote-rating {
    width: 30%;
}

.vote-rating .player {
    width: fit-content;
}

.vote-rating .position {
    width: 10%;
}

.vote-rating .rating {
    width: 10%;
}

.legend {
    margin-right: 100px;
}