 .navBar {
    list-style: none;
    text-decoration: none;
    background: grey;
    width: 100%;
    height: 100px;
}
  
  a {
    padding: 10px 40px;
    text-decoration: none;
    list-style: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }