
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.container .title-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}

.add-post-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-post {
  display: flex;
  background-color: transparent;
  color: yellow;
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  font-weight: bolder;
}

.add-post:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
  transition: 0.5s;
}

.inner {
  width: 100%;
  padding: 4rem 10px 4rem;
}

.plus-button {
  border-radius: 2px;
  border: 1px solid yellow;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.post-list {
  display: flex;
  flex-direction: column;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
}

.post-container {
  margin-top: 20px;
}

.nav {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.nav-tabs {
  margin-bottom: 0;
}

.nav-tabs > li {
  border: 0;
}

.nav-link.active {
  background-color: yellow;
  color: black;
  border: 0;
  padding: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-link {
  background-color: black;
  color: rgba(255, 255, 0, 0.5);
  border: 0;
  padding: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.tab-content {
  border: 1px solid yellow;
  padding: 20px;
}

.nav button {
  cursor: pointer;
  font-weight: bolder;
}

.tab-content {
  width: 70%;
}

select {
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
}

select:hover {
  cursor: pointer;
}

hr {
  border: 1px solid yellow;
}